/* Home.css */

.container {
    max-width: 1000px;
    margin: auto;
  }
  
  .carousel-container {
    max-height: 900px; 
    margin-top: 10px;
    overflow: hidden; 
  }
  
  .slick-slide {
    width: 100%;
    height: 100%;
  }
  
  .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card {
    flex: 0 0 30%;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; 
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  .image-container img {
    width: 100%; 
    height: auto; 
  }
  