* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    background-color: white;
  }
  
  .gallery {
    padding: 50px 0px; /* Adjust the top and bottom padding as needed */
  }
  
  .gallery img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0f0e0e;
    padding: 2px; /* Adjust the padding as needed */
    margin-bottom: 20px; /* Adjust the margin between rows as needed */
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 3%;
  }
  
  #gallery-popup .modal-img {
    width: 100%;
  }