/* TravelCarousel.css */

.carousel-card {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20px; /* Add margin to create space between cards */
  }
  
  .carousel-card h3 {
    margin-bottom: 0;
  }
  
  .carousel-card p {
    margin-top: 0;
    font-size: 1.2rem;
  }
  