/* Universal Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reset with Additional Margin Top */
* {
    margin-top: 10px;
}

/* Combined Styles for .p1 and .p2 */
.p1, .p2 {
    margin-left: 0;
    padding: 5px;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Payment Wrapper */
.payment-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Payment Container */
.payment-container {
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

/* OR Text */
.or-text {
    font-size: 18px;
    margin-top: 250px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Payment Content */
.payment-content {
    padding: 20px;
}

/* Payment Header */
.payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.payment-header h1 {
    margin: 0;
    font-size: 24px;
}

/* Countdown */
.countdown {
    font-size: 16px;
    color: #777;
}

/* Payment Info */
.payment-info {
    text-align: center;
    margin-bottom: 20px;
}

/* Sub Box */
.sub-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* QR Code Container */
.qr-code-container {
    flex: 60;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Network Address */
.network-address {
    flex: 1;
    text-align: center;
    font-size: 13px;
}

.network-address p {
    margin: 5px 0;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Button Styles */
.button-container button, .metamask-button, .summary-button {
    background-color: #80b6d1;
    border: 5px solid;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hover Styles */
.button-container button:hover, .metamask-button:hover, .summary-button:hover {
    background-color: #45a049;
}

/* Cancel and Summary Button Styles */
.cancel-order-button, .summary-button {
    background-color: #80b6d1;
}

.summary-button {
    margin-left: 90px;
}

.cancel-order-button {
    margin-left: 0;
}

.cancel-order-button:hover, .summary-button:hover {
    background-color: #45a049;
}

/* Status Message Styles */
.status-message-container {
    margin-bottom: 20px;
}

.status-message {
    font-weight: bold;
    color: #77c9d7;
}

.error-message {
    font-weight: bold;
    color: #f44336;
}

/* QR Code Styles */
.qr-code {
    width: 80%; 
    height: 80%; 
    max-width: 100%; 
    max-height: 200px; 
    border: #0c0c0c solid;
    margin-top: 10px;
}
